<div section-id="{{ sectionId }}"
     data-lg-scroll-offset="130"
     data-md-scroll-offset="130"
     data-sm-scroll-offset="94"
     class="home-categories-section section-padding-space">
    <div class="container slider-container">
        <h1 class="section-title theme-text-primary">{{ settings.title }}</h1>
        <div class="d-flex flex-column">
            <div class="categories-slider-wrapper swiper" style="position: relative">
                <div class="categories-slider s-slider swiper-wrapper">
                    {% for categoryItem in settings.categories %}
                        <div class="cat-col swiper-slide">
                            <div class="category-item">
                                <a href="/categories/{{ categoryItem.category.id }}/{{ categoryItem.category.slug }}">
                                    <img
                                            {% if categoryItem.category.image %}
                                                src="{{ imageUrl(categoryItem.category.image_full_size, { w: 400, q: 85, f:'auto' }) }}"
                                            {% else %}
                                                src="{{ imageUrl(asset_url ~ 'product-img.svg',{ w: 235, q: 85, f:'auto' }) }}"
                                            {% endif %}

                                            loading="lazy" alt="{{ categoryItem.category.name }}">
                                    <h3>{{ categoryItem.category.name }}</h3>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if settings.display_more %}
                <div class="text-center mt-5 category-display-more-section">
                    <a href="/categories" class="more-button btn btn-outline-primary theme-text-primary theme-border-primary">{{ settings.more_text }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

</style>
<script>
var swiper = new Swiper("[section-id={{ sectionId }}] .categories-slider", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>


{% schema %}
{
  "name": {
    "ar": "التصنيفات",
    "en": "Slider"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "text"
      }
    },
    "categories": {
      "type": "list",
      "noLabel": true,
      "settings_label":{
        "ar": "التصنيف",
        "en": "Picture"
      },
      "settings": {
        "category": {
          "type": "category",
          "label": {
            "ar": "اختر التصنيف",
            "en": "Select category"
          }
        }
      }
    },
    "display_more": {
      "type": "checkbox",
      "label": {
        "ar": "",
        "en": ""
      },
      "noLabel": true,
      "option": {
        "ar": "عرض زر جميع التصنيفات",
        "en": "Display button more products"
      }
    },
    "more_text": {
      "type": "text",
      "label": {
        "ar": "نص زر جميع التصنيفات",
        "en": "More text"
      }
    }
  }
}
{% endschema %}
